body {
  background-color: #333333;
  font-family: monospace;
}

form { position: fixed; }

.gridV, .gridH line { color: #555555; }

.yaxis, .xaxis, .yaxis line, .xaxis line { color: #FFFFFF; }

#tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #999999;
  padding: 5px 10px 5px 10px;
  border: 1px white;
  width: calc(200px + 1vw);
}

.barLabels, .barNums, .pieLabels, #pieKey, .label { font-size: 10px; }

#modal, #modalBar, #modalVerticals {
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: calc(25px + 5vh);
}

.modal-content, .modal-content-graphs {
  background-color: #F5F5F5;
  margin: auto;
  padding: calc(12px + 0.35vw + 0.35vh);
  width: 67.5%;
  overflow: auto;
  overflow-y: auto;
  border: calc(0.15vw + 0.15vh) solid #000000;
  font-size: calc(8px + 0.75vw);
  text-align: left;
  color: #333333;
  line-height: 1.25em;
}

.modal-content-graphs { text-align: center; }

#charts {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

.close {
  float: right;
  font-size: calc(8px + 1.5vw + 1.5vh);
  color: #000000;
}

.close:hover, .clear:hover {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.clear {
  float: right;
  font-size: calc(8px + .25vw + .25vh);
  color: #000000;
}

td {
  padding-right: 50px;
  padding-bottom: 10px;
}

#pieBox {
  display: inline-block;
  vertical-align: middle;
}

#pieKey {
  padding-top: 25spx;
  padding-bottom: 25px;
  height: 200px;
  vertical-align: middle;
  line-height: 1em;
}

#pieKey td {
  padding-right: 10px;
  padding-bottom: 5px;
}

.und { text-decoration: underline; }

#dayFreqBarChart {
  width: 200px;
  float: left;
}
